.size-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 2px transparent;
	transition: box-shadow 0.3s ease-in-out;
	pointer-events: none;
	border-radius: inherit;
}
.size-item:hover {
	background-color: #f0f0f0;
}
.size-item.active::after {
	box-shadow: inset 0 0 0 2px #000;
}
