<div class="offcanvas offcanvas-end" tabindex="-1" id="searchCanvas" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <input type="text" id="search-input" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" placeholder="Поиск">

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
     <div class="products-search row" id="search-results" style="display: none">

     </div>
  </div>
</div>