{% include 'front/header.html' %}

<div class="container-fluid px-0">
        {% set ns = namespace(current_row=-1, row_open=false) %}
        {% for module in modules %}

            {% if module.row_index != ns.current_row %}
                {% if ns.row_open %}
                    </div> <!-- Закрываем предыдущую строку -->
                    {% set ns.row_open = false %}
                {% endif %}
                {% set ns.current_row = module.row_index %}
            {% endif %}

            {% if module.col_width == 12 %}
                {% set template_path = 'front/extations/' ~ module.module_name ~ '.html' %}
                {% include template_path ignore missing with context %}
            {% else %}
                {% if not ns.row_open %}
                    <div class="row">
                    {% set ns.row_open = true %}
                {% endif %}
                <div class="col-12 col-md-{{ module.col_width }}">
                    {% set template_path = 'front/extations/' ~ module.module_name ~ '.html' %}
                    {% include template_path ignore missing with context %}
                </div>
            {% endif %}

            {% if loop.last and ns.row_open %}
                </div> <!-- Закрываем последнюю строку -->
            {% endif %}
        {% endfor %}
    </div>
    {% include 'front/footer.html' %}